body {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 90px;
  padding-right: 90px;
  font-family: 'Helvetica Neue', sans-serif;
  background-image: url('../img/Background.png');
  color: #1c1c1c;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#logo {
  width: 240px;
  height: auto;
  display: block;
}

#filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#filter-box label {
  margin-right: 10px;
}

#search-bar {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 40%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 50%;
}

th, td {
  padding: 8px;
  word-wrap: break-word;
}

th {
  text-align: left;
}

tr:nth-child(odd) {
  background: rgba(170, 181, 236, 0.3);
}

tr:nth-child(even) {
  background: rgba(202, 202, 202, 0.3);
}

tr:hover {
  background: rgba(43, 57, 118, 0.5);
}

input[type="radio"] {
  margin-right: 8px;
}

input[type="radio"]:checked+label {
  font-weight: bold;
}

input[type="radio"]:focus+label {
  text-decoration: underline;
}

table th {
  background-color: #2B3976;
  color: #fff;
}

@media only screen and (max-width: 1540px) {
  body {
    padding: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  #logo {
    width: 100%;
    max-width: 440px;
    margin: 0;
  }

  #filter-box {
    margin: 10px 0;
  }

  #search-bar {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 5px;
}