body {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 90px;
  padding-right: 90px;
  font-family: 'Helvetica Neue', sans-serif;
  background-image: url('../img/background.png');
  background-size: 100% auto; 
  background-position: top;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #1c1c1c;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#title {
  width: 240px;
  height: auto;
  display: block;
}

#filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 16px;
}

#filter-box label {
  margin-right: 10px;
}

#search-bar {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

table {
  width: 100%; 
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 50px;
}

th, td {
  padding: 8px;
  word-wrap: break-word;
}

th {
  text-align: left;
}

tr:nth-child(odd) {
  background: rgba(227, 231, 246, 0.8);
}

tr:nth-child(even) {
  background: rgba(235, 236, 235, 0.8);
}

tr:nth-child(odd):hover {
  background: rgba(178, 191, 238, 0.9);
}

tr:nth-child(even):hover {
  background: rgba(201, 201, 201, 0.9);
}

input[type="radio"] {
  margin-right: 8px;
}

input[type="radio"]:checked+label {
  font-weight: bold;
}

input[type="radio"]:focus+label {
  text-decoration: underline;
}

table th {
  background-color: #2B3976;
  color: #fff;
}

#back-to-top {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 75px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2B3976;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 24px;
  transition: opacity 0.5s, visibility 0s 0.5s;
  align-items: center;
  justify-content: center;
  display: flex;
}

#back-to-top.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s 0s;
}

#back-to-top:hover, #back-to-top:focus {
  background-color: #384b9e;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 2px;
}

@media (max-width: 1540px) {
  body {
    padding: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  #title {
    width: 100%;
    max-width: 440px;
    margin: 0;
    margin-top: 20px;
  }

  #filter-box {
    margin: 10px 0;
  }

  #search-bar {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}